<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [active_item]="'Project Detail'" [items]="['Project']"
                      [title]="'Project Detail'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Project Detail</h2>
          </div>
          <div class="body">
            <div class="wrapper wrapper-content animated fadeInUp">
              <div class="ibox">
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="m-b-md">
                        <h3 class="project-name">{{ project.name }}</h3>
                      </div>
                      <dl>
                        <dt class="pull-left me-2">Status:</dt>
                        <dd>
                                                    <span _ngcontent-isv-c222=""
                                                          class="project-bedge2 project-type-Testing">
                                                        <div _ngcontent-isv-c222="" class="pro-left">
                                                            {{ project.status }}
                                                        </div>
                                                    </span>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <dl class="dl-horizontal">
                        <dt class="pull-left me-2">Project manager:</dt>
                        <dd>{{ manager }}</dd>
                        <dt class="pull-left me-2">Project number:</dt>
                        <dd> {{ project.number }}</dd>
                        <dt class="pull-left me-2">Client:</dt>
                        <dd> {{ client }}</dd>
                        <dt class="pull-left me-2">Progress:</dt>
                        <dd>
                          <div class="progress progress-xs mt-3">
                            <mat-progress-bar mode="determinate"
                                              value="{{project.progress}}">
                            </mat-progress-bar>
                          </div>
                        </dd>
                        <small><strong>{{ project.progress }}%</strong> Project
                          Completion</small>
                      </dl>
                    </div>
                    <div class="col-lg-2" id="cluster_info">
                      <dl class="dl-horizontal">
                        <dt class="pull-left me-2">Start:</dt>
                        <dd> {{ project.start }}</dd>
                        <dt class="pull-left me-2">Deadline:</dt>
                        <dd> {{ project.deadline }}</dd>
                      </dl>
                    </div>
                  </div>

                  <div class="row">
                    <div class="text-center mb-3">
                      <div class="mb-3">
                        <button (click)="toogleManage()" class="me-2" color="primary"
                                mat-raised-button>Manage
                        </button>
                      </div>
                      <div>
                        <button (click)="openUploadFiles(filesUpload, 'Secretariat')" *ngIf="showManage" color="primary"
                                mat-raised-button>Upload files
                          to secretariat
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-12">

                      <ng-container *ngIf="filesSecretariat.length > 0">
                        <h3 class="text-center mt-5">Secretariat table</h3>
                      </ng-container>
                      <div *ngIf="filesSecretariat.length > 0" class="example-container mat-elevation-z8 mt-3">
                        <table [dataSource]="dataSourceSecretariat" mat-table matSort>
                          <ng-container matColumnDef="view">
                            <th *matHeaderCellDef class="appearance" mat-header-cell>
                              View
                            </th>
                            <td *matCellDef="let element" data-label="view" mat-cell>
                              <ng-container
                                *ngIf="element.name.split('.')[element.name.split('.').length -1].toLowerCase() === 'pdf'">
                                <i (click)="openPdfFile(pdfFile, element.file)" [matTooltipPosition]="'above'"
                                   class="material-icons view" matTooltip="Open PDF viewer">visibility</i>
                              </ng-container>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <th *matHeaderCellDef class="appearance" mat-header-cell mat-sort-header>
                              Name
                            </th>
                            <td *matCellDef="let element" data-label="Name" mat-cell>
                              <a class="download" download href="{{element.file}}" target="_blank">
                                {{ element.name }}
                              </a>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="options">
                            <th *matHeaderCellDef class="appearance" mat-header-cell>
                              Options
                            </th>
                            <td *matCellDef="let element" data-label="options" mat-cell>
                              <mat-icon (click)="deleteDocumentFile(element.id)" [matTooltipPosition]="'above'"
                                        class="icons"
                                        matTooltip="Delete File">delete_forever
                              </mat-icon>
                            </td>
                          </ng-container>

                          <tr *matHeaderRowDef="columnsSecretariat; sticky: isWideScreen" mat-header-row>
                          </tr>
                          <tr *matRowDef="let row; columns: columnsSecretariat;" mat-row></tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #pdfFile let-modal>
  <div class="modal-fullscreen" tabindex="-1">
    <button (click)="modal.dismiss('Cross click')" class="close" color="primary" mat-raised-button>
      <i class="material-icons">close</i>
    </button>
    <ngx-extended-pdf-viewer [language]="'en'" [src]="pathFile">
    </ngx-extended-pdf-viewer>
  </div>
</ng-template>

<ng-template #filesUpload let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Files</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <app-files-upload [destiny]="'destiny'" [modalRef]="modalRef" [project]="project"></app-files-upload>
  </div>
</ng-template>

<!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ng-template #editProject let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{titleModal}}</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
        </div>
        <div class="modal-body">
            <app-add-project [prj]="prj" [projectAddEditModal]="projectAddEditModal"></app-add-project>
        </div>
    </ng-template>
</div>


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ng-template #filesUpload let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{titleModal}}</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
        </div>
        <div class="modal-body">
            <app-files-upload [currentProject]="currentProject" [fileDestiny]="fileDestiny"></app-files-upload>
        </div>
    </ng-template>
</div>


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ng-template #commentFile let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{titleModal}}</h4>
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
        </div>
        <div class="modal-body">
            <app-file-comment-add [fileId]="fileId" [projectId]="projectId"></app-file-comment-add>
        </div>
    </ng-template>
</div>


<ng-template #stlFile let-modal>
    <div class="modal-fullscreen" tabindex="-1">
        <button (click)="modal.dismiss('Cross click')" class="close" color="primary" mat-raised-button>
            <i class="material-icons">close</i>
        </button>
        <app-stl-viewer [fileId]="stlFileId"></app-stl-viewer>
    </div>
</ng-template>


<ng-template #pdfFile let-modal>
    <div class="modal-fullscreen" tabindex="-1">
        <button (click)="modal.dismiss('Cross click')" class="close" color="primary" mat-raised-button>
            <i class="material-icons">close</i>
        </button>
        <ngx-extended-pdf-viewer
            [src]="pathToFile"
            [useBrowserLocale]="true"
            [language]="'en'">
        </ngx-extended-pdf-viewer>
    </div>
</ng-template>-->
