<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/login.jpg); filter: brightness(50%);">
        <h1 style="position: absolute; color:grey; margin-bottom: 2em; margin-top: 3em;">You can put here </h1>
        <h1 style="position: absolute; color:grey; margin-top: 4em;"> a logo or company name</h1>
      </div>

    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Welcome to Work </h2>
          <br>
          <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="validate-form">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Username</mat-label>
                  <input formControlName="username" matInput/>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Username is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
                  <a (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                     class="show-pwd-icon" href="#" matSuffix onClick="return false;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!authForm.valid "
                        class="auth-form-btn" color="primary" mat-raised-button type="submit">Sing in
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
