<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink={{homePage}}>
        <img src="#" alt="" width="35px" height="30px" />
        <span class="logo-name">logo or company name</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button mat-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons">
            <app-feather-icons [icon]="'menu'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button mat-button class="nav-notification-icons" (click)="callFullscreen()">
            <app-feather-icons [icon]="'maximize'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>
        <!-- #END# Full Screen Button -->
        <!-- #START# Notifications-->

        <li class="nav-item btnNotification" ngbDropdown>
          <button mat-button [matMenuTriggerFor]="notificationMenu" class="nav-notification-icons">
            <app-feather-icons [icon]="'bell'" [class]="'header-icon'"></app-feather-icons>
            <span *ngIf="notification" class="label-count bg-red">{{notiQuantity}}</span>
          </button>

          <mat-menu #notificationMenu="matMenu" class="nfc-menu">
            <div class="nfc-header">
              <h5 class="mb-0">Notitications</h5>
              <a *ngIf="notification" (click)="readAllNotification()" class="nfc-mark-as-read"
                style="cursor: pointer;">Mark all as read</a>
            </div>
            <div *ngIf="notification" class="nfc-dropdown">
              <ng-scrollbar style="max-height: 50vh" visibility="hover">
                <div class="noti-list header-menu">
                  <div class="menu">
        <li *ngIf="userRole === 'Admin'">
          <ng-container *ngFor="let note of notiData">
            <ng-container *ngIf="note.file">
              <a [queryParams]="{ dep_name: note.department.name, dep_id: note.department.id, status:'Active', page_size: 20, page_number: 1}"
                [routerLink]="['/admin/department/department-detail']">
                <button mat-menu-item>
                  <span class="table-img msg-user ">
                    <i class="material-icons-two-tone nfc-type-icon">description</i>
                  </span>
                  <span class="menu-info">
                    <ng-container>
                      <span class="menu-title fw-bold">{{note.content}}</span>
                    </ng-container>
                    <span class="menu-desc mt-2">
                      <i class="material-icons">access_time</i> {{note.timestamp}}
                    </span>
                  </span>
                  <div class="nfc-close" (click)="readNotification($event, note.id)">
                    <app-feather-icons [class]="'user-menu-icons'" [icon]="'trash'"
                      class="delete-noti"></app-feather-icons>
                  </div>
                </button>
              </a>
            </ng-container>
            <ng-container *ngIf="note.project">
              <a [routerLink]="['/admin/project-production/detail', note.project]">
                <button mat-menu-item>
                  <span class="table-img msg-user ">
                    <i class="material-icons-two-tone nfc-type-icon">folder</i>
                  </span>
                  <span class="menu-info">
                    <ng-container>
                      <span class="menu-title fw-bold">{{note.content}}</span>
                    </ng-container>
                    <span class="menu-desc mt-2">
                      <i class="material-icons">access_time</i> {{note.timestamp}}
                    </span>
                  </span>
                  <div class="nfc-close" (click)="readNotification($event, note.id)">
                    <app-feather-icons [class]="'user-menu-icons'" [icon]="'trash'"
                      class="delete-noti"></app-feather-icons>
                  </div>
                </button>
              </a>
            </ng-container>

          </ng-container>
        </li>
        <li *ngIf="userRole === 'Employee'">
          <ng-container *ngFor="let note of notiData">
            <ng-container *ngIf="note.file">
              <a [queryParams]="{ dep_name: note.department.name, dep_id: note.department.id, status:'Active'}"
                [routerLink]="['/employee/department/department-detail']">
                <button mat-menu-item>
                  <span class="table-img msg-user ">
                    <i class="material-icons-two-tone nfc-type-icon">description</i>
                  </span>
                  <span class="menu-info">
                    <ng-container>
                      <span class="menu-title fw-bold">{{note.content}}</span>
                    </ng-container>
                    <span class="menu-desc mt-2">
                      <i class="material-icons">access_time</i> {{note.timestamp}}
                    </span>
                  </span>
                  <div class="nfc-close" (click)="readNotification($event, note.id)">
                    <app-feather-icons [class]="'user-menu-icons'" [icon]="'trash'"
                      class="delete-noti"></app-feather-icons>
                  </div>
                </button>
              </a>
            </ng-container>
            <ng-container *ngIf="note.project">
              <a [routerLink]="['/employee/project-production/detail', note.project]">
                <button mat-menu-item>
                  <span class="table-img msg-user ">
                    <i class="material-icons-two-tone nfc-type-icon">folder</i>
                  </span>
                  <span class="menu-info">
                    <ng-container>
                      <span class="menu-title fw-bold">{{note.content}}</span>
                    </ng-container>
                    <span class="menu-desc mt-2">
                      <i class="material-icons">access_time</i> {{note.timestamp}}
                    </span>
                  </span>
                  <div class="nfc-close" (click)="readNotification($event, note.id)">
                    <app-feather-icons [class]="'user-menu-icons'" [icon]="'trash'"
                      class="delete-noti"></app-feather-icons>
                  </div>
                </button>
              </a>
            </ng-container>

          </ng-container>
        </li>
    </div>
  </div>
  </ng-scrollbar>
  </div>
  <div *ngIf="notification" class="nfc-footer" (click)="readAllNotification()">
    <span class="nfc-read-all">Read All Notifications</span>
    <span *ngIf="!notification" class="nfc-read-all">You have no notifications </span>
  </div>
  <div *ngIf="!notification" class="nfc-footer">
    <span *ngIf="!notification" class="nfc-read-all">You have no notifications </span>
  </div>
  </mat-menu>
  </li>
  <!-- #END# Notifications-->
  <li (click)="getTheme()" class="nav-item user_profile">
    <button mat-button [matMenuTriggerFor]="profilemenu">
      <div class="chip dropdown-toggle" ngbDropdownToggle class="">
        <span>{{userFullName}}</span>
        <img alt="User" class="user_img" height="32" src="assets/images/user/user1.jpg" width="32">
      </div>
    </button>
    <mat-menu #profilemenu="matMenu" class="profile-menu">
      <div class="noti-list">
        <div class="menu ">
          <div class="user_dw_menu">
            <button [ngClass]="{'menu-dark': theme === 'dark', 'active': theme === 'dark'}" mat-menu-item
              (click)="goToProfile()">
              <app-feather-icons [icon]="'user'" [class]="'user-menu-icons'"></app-feather-icons>
              Account
            </button>
            <button [ngClass]="{'menu-dark': theme === 'dark', 'active': theme === 'dark'}" mat-menu-item
              (click)="logout()">
              <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>
              Logout
            </button>
          </div>
        </div>
      </div>
    </mat-menu>
  </li>
  <!-- #END# Tasks -->
  </ul>
  </div>
  </div>
</nav>
